* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("assets/Dado-piedra-papel-o-tijera.gif");
    background-position: center;
    background-size: cover;
    font-weight: bold;
    font-size: large;
    text-shadow:
    1px 1px 2px black,
    0 0 0.6em blue;
    color: white;
}

h1{
    margin-bottom: 50px;
}

#div-a-jugar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div-botones{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#div-nombre, #div-jugada, #div-resultados{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    margin: 10px;
    padding: 3px;
    background-image: url(assets/abstract-gold-glossy-stylish-background-vector.jpg);
    background-position: center;
    background-size: cover;
    font-weight: bold;
    font-size: large;
    text-shadow:
    1px 1px 2px black,
    0 0 0.3em red;
    color: white;
    border: 3px solid grey;
    border-radius: 6px;
    box-shadow: 0 9px #aaa;
}

button:hover {
    scale: 120%;
    transition: 300ms;
}

button:active {
    box-shadow: 0 5px #777;
    transform: translateY(4px);
}

.botones>button:focus{
    border: 6px solid red;
}

.botones>button:active{
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
}

.marcadores {
    display: grid;
    grid-template-areas: 
        "us us vs vs co co"
        "us us vs vs co co"
        "mu mu mu mc mc mc";
    justify-items: center;
}

#img-usuario{
    grid-area: us;
}

#img-vs{
    grid-area: vs;
}

#img-compu{
    grid-area: co;
}

#marcador-usuario{
    grid-area: mu;
    font-size: larger;
}

#marcador-compu{
    grid-area: mc;
    font-size: larger;
}
